<html>
  <head>
    <link rel="stylesheet/less" href="style.less" type="text/css">

    <script src="jquery.js"></script>
    <script src="hammer.js"></script>
    <script src="jquery.hammer.js"></script>
    <script src="/socket.io.js"></script>

    <script src="colors.js"></script>
    <script src="view.js"></script>

    <script>
      less = {
        env: "development",
        async: false,
        fileAsync: false,
        poll: 1000,
        functions: {},
        dumpLineNumbers: "comments",
        relativeUrls: false,
        rootpath: ":/a.com/"
      };
    </script>
    <script src="less.js"></script>
    <meta name="viewport" content="width=320, user-scalable=no">
  </head>

  <body>
    <div class="board-wrapper">
      <div class="board"></div>
    </div>
  </body>
</html>

