@import "variables.less";

body, html {
  font-family: "Helvetica Neue";
  padding: 0;
  margin: 0;
  background: black;
  perspective: 1200px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom:0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-wrapper {
  transform: rotateX(20deg);
  position: relative;
  margin-top: -5%;
}

.board {
  position: relative;
  background: #111;
  margin: 0 auto;
  width: 0;
  height: 0;
  transform-style: preserve-3d;
}

.border {
  content: " ";
  position: absolute;
  border: solid 20px #222;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  top: -20px;
  left: -20px;
}

.snek {
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  z-index: 2;

  .body {
    position: absolute;
    width: ~"calc(100% - 2px)";
    height: ~"calc(100% - 2px)";
    top: 1px;
    left: 1px;
    // animation: flicker .01s infinite;
  }
}

@keyframes flicker {
  0% { opacity: 1;}
  50% { opacity: .8;}
  100% { opacity: 1;}
}

.gone .body {
  animation: blam .1s ease-out;
}

@keyframes blam {
  0% {
    // transform: scale(1);
  }
  100% {
    // transform: scale(.8);
    background: white;
  }

}

.apple {
  position: absolute;
  top: 0;
  left: 0;

  .body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background: #e62d0e;
    border-radius: 50%;

    animation: pulse .5s infinite;

    &:after {
      content: "";
      width: 35%;
      height: 35%;
      top: 17%;
      left: 17%;
      position: absolute;
      border-radius: 50%;
      opacity: .4;
      background: white;

    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.crash {
  animation: crash .7s ease-out;
}

@keyframes crash {
  0% {
    border-color: #666;
  }
  100% {
    border-color: #222;
  }
}

@keyframes strobe {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0;
  }
}

.tick {
  height: 40px;
  width: 40px;
  margin: 10px;
  display: inline-block;
  border-radius: 50%;

  &.strobe {
    animation: strobe .4s ease-out;
    animation-fill-mode: forwards;
  }

  &.server-tick {
    background: blue;
    margin-left: 0;
  }

  &.local-tick {
    background: green;
  }
}

.delta {
  display: inline-block;
  color: #999;
}

.particle {
  background: pink;
  position: absolute;
  top:0;
  left: 0;
}

.boom {
  position: absolute;
  z-index: 1;
  opacity: 1;
  transform-style: preserve-3d;

  .body {
    animation: boom .5s ease-out;
    animation-fill-mode: forward;
    width: 100%;
    height: 100%;
    background: #ffb806;
    opacity: 0;

  }

  .shock {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: shock .5s ease-out;
    animation-fill-mode: forward;
    // border: solid 5px white;
    background: white;
    box-sizing: border-box;
    opacity: 0;
  }

}

@keyframes boom {
  0% {
    transform: scale(.95) translateZ(0);
    opacity: 1;
    background: white;
  }
  30% {
    background: #ffb806;
  }
  40% {
    transform: scale(1) translateZ(4px);
    opacity: 1;
    background: #ffb806;
    animation-timing-function: ease-in;
  }
  80% {
    background: #727272;
  }
  100% {
    opacity: 0;
    transform: scale(.75) translateZ(20px);
  }
}

@keyframes shock {
  0% {
    transform: scale(.95);
    opacity: .4;
    background: white;
  }
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

.shake {
  animation: shake .2s ease-out;
}

@keyframes shake {
  0% {
    transform: translateX(-10px) translateY(-10px);
  }
  25% {
    transform: translateX(10px) translateY(-10px) rotate(1deg);
  }
  50% {
    transform: translateX(-5px) translateY(-5px);
  }
  75% {
    transform: translateX(5px) translateY(5px) rotate(-1deg);
  }
}





.beam {
  position: absolute;
  z-index: 1;
  opacity: .5;

  .body {
    width: 100%;
    height: 100%;
    animation: fadeOut .2s ease-out;
    opacity: 0;
  }

}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
